<html>
    <head>
        <%- include("../header.ejs"); %>
    </head>
    <body>
        <%- include("../menu.ejs"); %>
        <div class="container-fluid" id="app-detail-customer">
            <div class="row">
                <div class="p-3">
                    <h1>{{getName()}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Tags</h4>
                    <p>
                        <span 
                            class="badge badge-secondary mr-2 p-1"
                            v-for="tag in getTags()"
                        >{{tag}}</span>
                    </p>
                    <input class="form-control" v-model="inpTag" v-on:keyup.enter="bindEnterTag">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <input class="from-control" placeholder="Ghi chú khách hàng" v-model="inpNote">
                    <button class="btn btn-success" @click="bindBtnNote">Lưu</button>
                </div>
                <div v-for="note in getNotes().models">
                    <p>{{note.get('content')}}</p>
                    <p>{{note.get('createdAt')}}</p>
                </div>
            </div>
        </div>
        <script>
            var view_detail_customer = new Vue({
                el: "#app-detail-customer",
                data: {
                    inpTag: "",
                    inpNote: "",
                    getName: function(){},
                    getTags: function(){return []},
                    getNotes: function(){},
                    getNotes: function(){return []},
                    bindEnterTag: function(){},
                    bindBtnNote: function(){}
                },
                methods: {

                }
            });
            class FactoryNotes extends Notes {
                constructor(id){
                    super();
                    console.log(this);
                    this.id = id;
                    var that = this;
                    this.onUpdateData = function(){};
                    $.get("/api/notes?customerId=" + this.id, function(data){
                        data.forEach(function(e){
                            that.add({id: e.id});
                        })
                        that.models.forEach(function(e){
                            e.fetch();
                        })
                        that.onUpdateData();
                    });
                }
                bindUpdateData = (callback)=>{
                    this.onUpdateData = callback;
                }
            }
            class ControllerDetailCustomer{
                constructor(view, customer, kiotcustomer){
                    var that = this;
                    this.customerId = "<%= customerId %>";
                    this.notes = new FactoryNotes("<%= customerId %>");
                    this.view = view;
                    this.customer = customer;
                    this.kiotcustomer = kiotcustomer;
                    this.customer.fetch({
                        success: ()=>{
                            that.onUpdateData();
                            that.view.getTags = that.getTags;
                        }
                    });
                    this.kiotcustomer.bindUpdateData(this.onUpdateData);
                    this.notes.bindUpdateData(this.onUpdateData);
                    this.view.getName = this.getName;
                    this.view.getNotes = this.getNotes;
                    this.view.bindEnterTag = this.handleEnterTag;
                    this.view.bindBtnNote = this.handleBtnNote;
                }
                onUpdateData = ()=>{
                    this.view.$forceUpdate();
                }
                getName = ()=>{
                    return this.kiotcustomer.name;
                }
                getTags = ()=>{
                    return  this.customer.get("tags");
                }
                getNotes = ()=>{
                    return this.notes;
                }
                handleEnterTag = ()=>{
                    var that = this;
                    if((this.view.inpTag == "")||(this.customer.attributes.tags.findIndex(function(e){return e == that.view.inpTag}) > -1)){
                        
                    } else {
                        this.customer.attributes.tags.push(this.view.inpTag);
                    }
                    this.view.inpTag = "";
                    this.customer.save();
                    return;
                }
                handleBtnNote = () => {
                    var that = this;
                    var note = new Note();
                    note.save({
                        content: this.view.inpNote,
                        customerId: this.customerId,
                        customerCode: "<%= code %>",
                        type: "NORMAL"
                    }, {
                        success: function(){
                            that.notes.add(note);
                            that.onUpdateData();
                        }
                    })
                }
            }
            var app_detail_customer = new ControllerDetailCustomer(view_detail_customer, new Customer({id: "<%= customerId %>"}), new CustomerKiot("<%= code %>"))
        </script>
    </body>
</html>