<% if(title == undefined) {var title = "Chua dat tieu de"} %>
<title><%= title %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/vue.js?v=<%= version %>"></script>
<script src="/js/vuex.js?v=<%= version %>"></script>
<script src="/js/undercore.js?v=<%= version %>"></script>
<script src="/js/backbone.js?v=<%= version %>"></script>
<script src="/js/models.js?v=<%= version %>"></script>
<script src="/js/moment.js?v=<%= version %>"></script>
<script src="/js/support.js?v=<%= version %>"></script>
<script src="/js/component.js?v=<%= version %>"></script>
<script src="https://unpkg.com/html5-qrcode"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" />
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
