<html>
    <head>
        <%- include("header.ejs"); %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div>
                <%- include("module/doanhthu", {data: sales}) %>
            </div>
            <div>
                <%- include("module/baohanh") %>
            </div>
            <div>
                <%- include("module/note") %>
            </div>
        </div>
    </body>
</html>