<html>
    <head>
        <%- include('../header.ejs', {title: customer.name}) %>
    </head>
    <body class="container-fluid">
        <div>
            <%- include("../menu.ejs") %>
        </div>
        <div class="row">
            <div class="col-3 border">
                <%- include("nav.ejs", {customer: customer}) %>
            </div>
            <div class="col-9 border">
                <% if(mainPage == "INFO"){ %>
                    <%- include("info.ejs", {customer: customer}) %>
                <% } else if (mainPage == "HEATH"){ %>
                    <%- include("monitor.ejs", {customer: customer}) %>
                <% } else { %>
                    <%- include("dashboard.ejs") %>
                <% } %>
            </div>
        </div>
    </body>
</html>